body{
    background-color: antiquewhite;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-family: "Calibri Light";
    color: pink;
}
